/* Updated style.css */
body {
  min-height: 2000px;
}

.jumbotron {
  color: #ffffff;
  padding-top: 2rem;
  background-color: #000000;
}

#portofolio {
  background-color: #bfd5f9;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}
